<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gouvernorat</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ville of villes">
          <td>{{ ville.villeid }}</td>
          <td>{{ ville.nom }}</td>
          <!-- Affichage du nom du gouvernorat -->
        <td>{{ ville.gouvernorat}}</td>
          <td>
            <button (click)="deleteVille(ville.villeid)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  